services:
  - type: web
    name: nraa-results
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: FLASK_ENV
        value: production
